name: Release new version

on:
  push:
    branches:
      - main

concurrency:
  group: release-${{ github.ref }}-1
  cancel-in-progress: true

jobs:
  version:
    runs-on: ubuntu-latest
    steps:
      - uses: cycjimmy/semantic-release-action@v3
        id: semantic
        with:
          extra_plugins: '@semantic-release/changelog @semantic-release/git @semantic-release/exec semantic-release-slack-bot'
          extends: '@stacc/semantic-release-config'
          branches: |
            ['main']
          dry_run: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK: ${{ secrets.SLACK_RELEASE_BOT_WEBHOOK }}
          NPM_TOKEN: '' #No npm package should be published
