name: Release new version

on:
  push:
    branches:
      - main

concurrency:
  group: release-${{ github.ref }}-1
  cancel-in-progress: true

jobs:
  version:
    uses: stacc/github-workflow-actions/.github/workflows/version.yaml@main
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
  updateLatest:
    runs-on: ubuntu-latest
    needs: version
    steps:
      - name: Read output
        run: |
          echo "Output coming"
          echo ${{ needs.version.outputs.new_release_published }}
          echo ${{ needs.version.outputs.last_release_version }}
      - name: Copy latest into a simple version branch
        run: |
          git branch -B --force ${{ needs.version.outputs.new_release_major_version }} ${{ github.sha }} && git push origin ${{ needs.version.outputs.new_release_major_version }}



