name: Reusable workflow to provide evidence of approval

on:
  workflow_call:
    secrets:
      github-token:
        required: true
      kosli-token:
        required: true
    inputs:
      name:
        description: 'Name of the artifact'
        required: true
        type: string
      kosli-pipeline:
        description: 'Name of the Kosli pipeline'
        required: true
        type: string
      sha256:
        type: string
        description: 'SHA256 of the published image'
        required: true
      latest-branch:
        description: 'Branch with last reported version. This gets pushed to by the workflow'
        required: false
        default: 'latest'
        type: string

jobs:
  request-approval:
    runs-on: ubuntu-latest
    steps:
      - uses: stacc/github-workflow-actions/actions/setup-kosli@main
        with:
          kosli-pipeline: ${{ inputs.kosli-pipeline }}
          kosli-token: ${{ secrets.kosli-token }}
      - name: Get release
        id: get_release
        uses: bruceadams/get-release@v1.2.3
        env:
          GITHUB_TOKEN: ${{ secrets.github-token }}
      - name: Store approver data
        run: |
          echo '${{ steps.get_release.outputs.author }}' | jq > approver.json
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup oldest commit
        run: |
          echo "oldest_commit=$(git rev-parse origin/${{ inputs.latest-branch }})" >> $GITHUB_ENV
      - name: Report release approval to Kosli
        run: kosli pipeline approval request --description "Approval requested" --newest-commit ${{ github.sha }} --oldest-commit ${{env.oldest_commit}} --sha256 ${{ inputs.sha256 }} -u approver.json
