name: Reusable workflow to provide evidence of a pull request

on:
  workflow_call:
    secrets:
      kosli-token:
        required: true
    inputs:
      name:
        description: 'Name of the artifact'
        required: true
        type: string
      kosli-pipeline:
        description: 'Name of the Kosli pipeline'
        required: true
        type: string
      junit-artifact-name:
        type: string
        description: 'Name'
        required: true
      sha256:
        type: string
        description: 'SHA256 of the published image'
        required: true
jobs:
  pull-request:
    runs-on: ubuntu-latest
    steps:
      - uses: stacc/github-workflow-actions/actions/setup-kosli.yaml@main
        with:
          kosli-pipeline: ${{ inputs.kosli-pipeline }}
          kosli-token: ${{ secrets.kosli-token }}
      - uses: actions/download-artifact@v3
        id: download-artifact
        with:
          name: ${{ inputs.junit-artifact-name }}
          path: data/junit
      - name: Report JUnit test results to Kosli
        run: kosli pipeline artifact report evidence test ${{ inputs.name }} -d "JUnit Results" -e test --sha256 ${{ inputs.sha256 }}
